* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
  background-color: rgb(245, 248, 255);
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 1140px;
  height: 71px;
  margin: 20px auto;
  padding: 10px;
}

.nav-main-container img {
  width: 135px;
  height: 82px;
}
.nav-main-container ul li a {
  text-decoration: none;
  color: black;
}
.nav-main-container ul {
  list-style: none;
  display: flex;
  gap: 17px;
}

/* Banner Styles Here */

.banner {
  width: 1140px;
  height: 461px;
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-clid img {
  width: 570px;
  height: 355px;
}

.banner-clid h1 span {
  color: rgb(233, 90, 8);

  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
}

.banner-clid h1 {
  font-family: Noto Serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 89px;
}

.banner-clid p {
  width: 570px;
  height: 108px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

/* Plants Section Styles Here */

.plant-title {
  width: 1140px;
  text-align: center;
  margin: 20px auto;

}

.plants {
  width: 1140px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);


}

.plant-card {
  margin-top: 20px;
}

.plant-title h1 span {
  color: rgb(233, 90, 8);
}

.plant-title h1 {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
}

.plant-title p {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.plant-card button {
  width: 270px;
  height: 50px;
  background: rgb(233, 90, 8);
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 7px;
}

.plant-card img {
  width: 270px;
  height: 322.94px;
  margin-bottom: 7px;
}

.plant-card h4 {
  margin-bottom: 7px;
}

/* Plants Lover Section Styles Here */

.plants-love-section {
  width: 1140px;
  height: 597px;
 
  margin-top:50px;
  display: flex;
  justify-content: space-between;
}

.plants-love-child img {
  width: 540px;
  height: 597px;
}

.plants-love-child {
  width: 540px;
  height: 521px;
}

.plants-love-child h1 {
  width: 540px;
  height: 137px;
  color: rgb(0, 0, 0);
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}

.plants-love-child li {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 20px;
}


/* Latest Deals Styles Here */

.latest-deals{



height: 138px;

margin-top: 100px;

}
.latest-deals h1{

text-align: center;
font-family: Noto Serif;
font-size: 50px;
font-weight: 700;
line-height: 68px;

}

.latest-deals h1 span{
font-family: Noto Serif;
color: rgb(233, 90, 8);
  
}


.latest-deals p{

  text-align: center;

  color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 27px;

}


/* Latest Section Image Styles Here */

.latest-image{


width: 1120px;
height: 423.13px;
margin:60px auto;
display: flex;
justify-content: space-between;
gap: 10px;



}


.small-img-1{

width: 366.22px;
height: 206px;
background-image: url(./assets/deal-bloom.png);
border-radius: 10px;
color: white;
display: grid;
align-items: center;
text-align: center;
background-repeat: no-repeat;

}

.small-img-1 a{


color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 600;


}

.small-img-2 a{

 color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 600;
}

.off-30{

  text-align: center;
  color: white;



}

.small-img-1 h3{




}

.small-img-2{
width: 366.22px;
height: 206px;
background-image: url(./assets/deal-ana.png) ;
margin-top: 10px;
border-radius: 10px;
background-repeat: no-repeat;
display: grid;
align-items: center;

}

.image-child-big{

width: 753px;
height: 415px;
border-radius: 10px;
background-image: url(./assets/deal-zabo.png);
background-repeat: no-repeat;
display: grid;
align-items: center;
text-align: center;

}

.image-child-big h3{

color: rgb(255, 255, 255);
font-family: Noto Serif;
font-size: 40px;
font-weight: 700;
line-height: 54px;

}

.image-child-big a{

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 28px;
font-weight: 600;
line-height: 34px;


}


/*Join Section Styles   */

.cont{
height: 533px;
margin: auto;
background-color: rgb(245, 248, 255);
width: 100%;

}

.join-main{



margin-top: 100px;
margin-bottom: 70px;

background-image: url(./assets/news-letter-bg.png);
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;

}


.join-main h1{

color: rgb(255, 255, 255);
font-family: Noto Serif;
font-size: 50px;
font-weight: 700;
line-height: 68px;
text-align: center;

}

.input-btn input{

width: 644px;
height: 50px;
border: none;
outline: none;
}





.input-btn input::placeholder{

color: rgba(7, 7, 7, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19px;
padding: 8px 20px 8px 20px;




}

.input-btn{

text-align: center;
margin-top: 18px;
}

.sub{

width: 186px;
height: 50px;
background: rgb(233, 90, 8);
border: none;


color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 19px;

margin-left: -5px;

}


/* Footer Section Styles Here */


.footer-main{

width: 1120px;
height: 248px;

margin-bottom: 30px;
display: flex;
justify-content: space-between;
}


.logo-text figure img{

width: 135px;
height: 82px;



}

.logo-text{
width: 359px;
height: 179px;

}
.logo-text p{

  margin-top: 10px;

}



.section-item{


height: 248px;

}

.section-item h5{
color: rgb(107, 114, 128);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-top: 20px;

}


.img{

display: flex;
width: 216px;
height: 36px;
gap: 20px;
justify-content: center;
align-items: center;
}
.img image{

width: 36px;
height: 36px;

}

 
.banner-clid h1 br{

display: none;


}

.banner-clid h1 span{

display: inline-block;

}



/* Responsive styles Start */

@media screen and (max-width: 768px) {
  .nav-main-container {
    width: 361px;
    height: 38px;
  }




  .nav-main-container img {
    width: 63px;
    height: 38px;
  }

  .home-li {
    display: none;
  }

  /* Banner Section */
  .banner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    gap: 20px;
    border: none;
    text-align: center;
  }

  .banner-clid:nth-child(2) {
    order: -1;
  }

  .banner-clid img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .banner-clid h1 {
    font-size: 24px;
    text-align: left;
    font-weight: 500;
  }

  .banner-clid h1 span {
    font-size: 24px;
    color: rgb(233, 90, 8);
  }

  .banner-clid p {
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 10px;
    width: 100%;
  }

  /* Our Plants Section */

  .plant-title {
    width: 393px;
    height: 117px;
  }
  .plant-title h1 {
    font-size: 24px;
    font-weight: 700;
  }

.plants-love-child h1{

  width: 270px;
height: 33px;

color: rgb(0, 0, 0);
font-size: 24px;
font-weight: 700;
line-height: 33px;
margin-bottom: 40px;

}

  
  .plant-title p {
    width: 336px;
    height: 68px;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  /* Plants Card */

  .plants button {
    width: 171px;
    height: 50px;
  }

  .plants img {
    width: 171px;
    height: 196.5px;
  }

  .plants {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  /* Plants Lover Section */

  .plants-love-section {
    flex-direction: column;

   width: 358px;
    margin: 0 auto;
    padding: 15px;
margin-top: 10px;
  
}

  .plants-love-child img {
    width: 350px;
    height: 396px;
padding-right: 30px;

 }

  .plants-love-section li{


width: 358px;
text-align: left;


  }


/* Latest Deals Section */

.latest-deals{


width: 393px;
height: 117px;
margin-top: 650px;


}

.latest-deals h1{
font-size: 24px;
font-weight: 700;
line-height: 33px;


}



.latest-deals p{

font-size: 14px;
font-weight: 400;
line-height: 17px;

}

/* Latest Section Image Responsive */

.image-child-big{
width: 366.22px;
height: 206px;


}


.latest-image{
 height: 645px;
 width: 100%;
display: grid;
grid-template-columns: repeat(1, 1fr);
align-items: center;
justify-content: center;
margin-left: 10px;
}


/* Join Section Responsive */

.join-main{

width: 393px;
height: 275px;
margin-top: 70px;
margin-bottom: 50px;
}

.join-tilte h1{

font-size: 20px;
font-weight: 700;
line-height: 27px;

}

.input-btn input{

width: 218px;
height: 50px;


}
.sub{

width: 103px;
height: 50px;

}


/* Footer Responsive Styles Here */

.footer-main{

width: 359px;
height: 173px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16px;
padding: 0px;
margin: 32px 0px;
margin-left: 7px;

}






}

/* Responsive Styles End */
